# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo
storybook-static/
.nuxt/
.output/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Turborepo
.turbo/
